  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    .micro{
        background:transparent;
        padding-top:30px;
        height:450px;
        width:700px;
        margin:30px auto;
        padding-left:100px;
    }
    .more{
      width:300px;
      padding-right:30px;
    }
    .red{
      padding-left:120px;
    }
    .apple{
      padding-left:90px;
    }
    .titles{
      text-align:center;
    }
    .blue{
        margin:30px auto;
        padding-left:500px;

    }
</style>
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="titles"><h1><b>USER DASHBOARD</b></h1></div>
  
      <div class="blue"><a href="/filling"><h1>FILL THE FORM</h1> </a></div>
    {% include "footer.html" %}
</body>
</html>

 