<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    .micro{
        background:transparent;
        padding-top:20px;
        height:450px;
        width:700px;
        margin:30px auto;
        padding-left:100px;
    }
    .more{
      width:300px;
      padding-right:30px;
    }
    .red{
      padding-left:120px;
    }
    .apple{
      padding-left:90px;
    }
    .titles{
      text-align:center;
    }
    h2{
      color:blue;
      padding-top:20px;
    }
</style>
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="titles"><h2>Create an account</h2></div>
    
  <div class="micro">
      <div class="red"> 
        <form class="needs-validation" action="/register" method="post" novalidate >
        <div class="form-row hail">
            <div class="col-md-7 mb-3 input-large">
               <label for="validationCustom01">first name</label>
               <input type="text" class="form-control input-large w-200" name="first" id="validationCustom01" placeholder="enter the First name">
                 <div class="valid-feedback">
                   Looks good!
                 </div>
            </div>
        </div>
        <div class="col-md-7 mb-3">
            <label for="validationCustom02">last name</label>
            <input type="text" class="form-control input-medium" name="last" id="validationCustom02" placeholder="enter the Last name">
                <div class="valid-feedback">
                   Looks good!
                </div>
        </div>
        <div class="col-md-7 mb-3">
              <label for="validationCustomUsername">email</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  </div>
                    <input type="email"  name="email" class="form-control" id="validationCustomUsername" placeholder=" enter the email address" aria-describedby="inputGroupPrepend" required>
             
              </div>
        </div>
  
        <div class="form-row">
              <div class="col-md-7 mb-3">
               <label for="validationCustom03">password</label>
               <input type="password" name="password" class="form-control" id="validationCustom03" placeholder="password" required>
              </div>
        </div>
      </div>
      <div class="form-group apple">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
                <div style="margin-left:0px;"> <button class="btn btn-primary float-right more" type="submit">Submit form</button></div>
             
                </div>
      
           </div>
     </div>
  </div>   
      </form>
      
      <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script></div>
    {% include "footer.html" %}
</body>
</html>